<div class="container1">
    <b>JORNADA FULLSTACK 17 a 21 de março de 2025</b>
    <ul>
        <li>Fazer Curso Angular 17</li>
        <li>Atualizar e aprimorar os conhecimentos FE</li>
        <li>Aplicar conhecimento na criação do Line5 (MVP)</li>
    </ul>
    <hr>
    <h3>O que vimos até hoje 18/03</h3>

    <table mat-table class="mat-elevation-z8">
        <tr>
            <td mat-cell>
                Revisão Angular
            </td>
            <td mat-cell>
                Componentes
            </td>
            <td mat-cell>
                Estillos CSS
            </td>
        </tr>
        <tr>
            <td mat-cell>
                Templates
            </td>
            <td mat-cell>
                Control Flow
            </td>
            <td mat-cell>
                Deferrable Views
            </td>
        </tr>
        <tr>
            <td mat-cell>
                Signal
            </td>
            <td mat-cell>
                Projeto Portifólio
            </td>
            <td mat-cell>
                Comunicação entre componentes
            </td>
        </tr>
        <tr>
            <td mat-cell>
                Pipes
            </td>
            <td mat-cell>
                Projeto Lista de tarefas
            </td>
            <td mat-cell>

            </td>
        </tr>
    </table>
    <!-- <mat-icon class="icon-display">check_circle_outline</mat-icon> -->
    <hr>
    <h4>Atividades:</h4>
    @for (
    atividade of logsAtividades; track atividade.descricao;
    let i = $index;
    ) {
    <div><b>{{atividade.data}}: </b> {{atividade.descricao}}</div>
    }
</div>