h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.container1{
    background: #d8f0c5;
    font-family: Arial, Helvetica, sans-serif;
    size: 18px;
    padding: 15px 15px 15px 15px;
}

.icon-display {
    transform: scale(1);
 }

 tr{
    text-align: center;
    vertical-align: middle;
 }

td{
    width: 33%;
    padding-top: 10px;
}

 table{
    border: 2;
    border-color: black;
    width: 100%;
    background: #f0f0f0;    
 }

 