<div class="container1">
    <h4>JORNADA FULLSTACK 17 a 21 de março de 2025</h4>    
    <ul>
        <li>Fazer Curso Angular 17</li>
        <li>Atualizar e aprimorar os conhecimentos FE</li>
        <li>Aplicar conhecimento na criação do Line5 (MVP)</li>
        <li><p>(extensão 28/março =] )</p></li>

    </ul>
    
    <hr>
    <h3>O que vimos até hoje 29/03</h3>

    <table mat-table class="mat-elevation-z8" style="display: none;">
        <tr>
            <td mat-cell>                
            </td>
        </tr>        
    </table>

    <p class="p-modulos">
        |
        @for (
        modulo of modulos; track modulo.descricao;
        let i = $index;
        ) {
        {{modulo.descricao}} |
        }
    </p>


    <!-- <mat-icon class="icon-display">check_circle_outline</mat-icon> -->
    <hr>
    <h4>Atividades:</h4>
    @for (
    atividade of logsAtividades; track atividade.descricao;
    let i = $index;
    ) {
    <div><b>{{atividade.data}}: </b> {{atividade.descricao}}</div>
    }
</div>